*{
    box-sizing: border-box;
    margin: 0;
}
.Ludomain{
height: 94vh;
width: 55%;
background-color: bisque;
margin: 20px auto;
display: grid;
grid-template-rows: 42% 16% 42%;
}
.Ludo-1, .Ludo-3{
    display: grid;
    grid-template-columns: 40% 20% 40%;

}
.Ludo-11{
    background-color: red;
}

.Ludo-13{
    background-color: green;
}
.Ludo-31{
    background-color: navy;
}
.Ludo-33{
    background-color: yellow;
}
.red-box{
    margin: 30px auto;
    height: 78%;
    width: 72%;
    background-color: rgb(255, 255, 255);
}